@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.overflow-x-auto::-webkit-scrollbar {
  height: 8px;
}

.overflow-x-auto::-webkit-scrollbar-track {
  background: #e5e7eb;
}

.overflow-x-auto::-webkit-scrollbar-thumb {
  background: #6b7280;
  border-radius: 4px;
}

.overflow-x-auto::-webkit-scrollbar-thumb:hover {
  background: #374151;
}

.footer-social {
  display: flex;
  justify-content: center;
}
.footer-social a {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-size: 27px auto;
  background-position: center center;
  background-repeat: no-repeat;
}
.footer-social a.insta {
  background-image: url('/image/icons/insta.svg');
}
.footer-social a.twitter {
  background-image: url('/image/icons/twitter.svg');
}
.footer-social a.tiktok {
  background-image: url('/image/icons/tiktok.svg');
}

.footer-dotted-border {
  border: 1px dashed #fca5a5;
}